extends layout

block content
	div.header
		h2="Books Catalog"
		button#add_book(onClick=('newbook()')) Add New Book
	div.main
		h1 Welcome to Books catalog
		table
			thead
				tr
					th Name of book
					th Author name
			tbody
				- var i=0
				each book in bookslist
					- i++
					tr(id=('id_' + i))
						td #{book.name}
						td #{book.author}