extends layout

block content
	div.header
		h2="Books Catalog"
	div.add
		h2#add='Add Book'
		form#form_add_book(name="addbook", method="post", action="/addbook")
			span Name
			span &emsp;
			input#input_name(type="text", placeholder="Name", name="name")
			br
			br
			span Author
			span &emsp;
			input#input_author(type="text", placeholder="Author", name="author")
			br
			br
			button#submit_book(type="submit") Save