body {
	padding: 0;
	margin: 0;
	font-family: "Arial", Arial, sans-serif;}

div.header {
	width: 100%
	height: 100%;
	padding: 10px 20px 10px 20px;
	background-color: black;
	color: white;
}

div.main {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 50%;
}

table, th, td {
	margin: auto;
	text-align: left;
	padding: 5px;
}

th {
	background-color: #A0A0A0;
}

tr {
	background-color: white;
}

tr:nth-child(even) {
	background-color: #E0E0E0;
}

div.add {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}

h1 {
	width: 40%;
	margin: auto;
	padding: 50px 0 50px 0;
}

h2#add {
	width: 40%;
	margin: auto;
	padding: 40px 0 40px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#submit_book {
	background-color: white;
	color: black;
	padding: 5px 10px 5px 10px;
}

#add_book {
	position: absolute;
	top: 30px;
	right: 30px;
	background-color: black;
	color: white;
}

#update, #delete {
	background-color: transparent;
	color: black;
}